:root {
  --p500: #5c6bc0;
  --p700: #303f9f;
  --p800: #283593;
  --a700: #ffc400;
}
#navbar {
  position: fixed;
  top: 0px;
  background-color: var(--p800);
  width: 100vw;
  height: 80px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#siteTitle {
  margin-right: auto;
  margin-left: 5%;
  color: white;
  font-size: 40px;
}

.menueBtn {
  margin: 8px;
  padding: 8px;
  font-size: 19px;
  align-content: center;
  background: var(--a700);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  color: black;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.menstrip {
  position: absolute;
  width: 36px;
  height: 4px;
  background: var(--p800);
  margin: 4px 0;
  opacity: 1;
  transform: rotate(0deg);

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
#exp {
  width: 56px;
  height: 56px;
  right: 100px;
}
.exp1 {
  top: 20px;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.exp2 {
  top: 32px;
}
.exp3 {
  top: 44px;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.toprotate {
  animation-name: rotateleft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  top: 32px;
  transform: rotate(45deg);
}
@keyframes rotateleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes rotateright {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
.bottomrotate {
  animation-name: rotateright;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  top: 32px;
  transform: rotate(-45deg);
}
.fadeout {
  opacity: 0;
}

#nav-links {
  display: -webkit-flex;
  display: flex;
  font-size: 16px;
  width: 50%;
  justify-content: space-around;
  margin-right: 30px;
}

.blog {
  background: rgba(256, 256, 256, 0.9);
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 0px 5% 20px 5%;
  padding: 8px 5%;
  font-size: 24px;
}
.article {
  position: relative;
  background: white;
  margin: 5%;
  border-radius: 10px;
  width: 90%;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.article {
  width: 100%;
  margin: 5% 0;
}
.content {
  font-size: 18px;
}
img {
  width: 100%;
  height: auto;
}
